body {
    background-color: #eeeeee;
}
#logo-img {
    width: 20%;
    height: 1%;
  }
  .resume-header{
      text-align: center;
      font-size: large;      
  }
  #person-img {
    width: 10%;
    height: 5%;
    border-radius: 50%;
  }
  .row{
      display:flex;
  }
  .column{
      flex: 50%;
  }
  h1{
      text-transform: uppercase;
      font-size: medium;
  }
  h2{
      text-transform: capitalize;
      font-size: small;
  }
  h3{
      text-transform: capitalize;
      font-size: small;
      line-height: 0;
  }
  .year{
      text-transform: uppercase;
      font-size: smaller;
  }
  li{   
    font-size: x-small;
  }
  
  